* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  width: 1440px;
}

.wrap {
  text-align: center;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: 5% 95%;
  grid-template-columns: 204px 1236px;
  background-color: #eee;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c4c4;
}

.text_path {
  width: 200px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
  margin-top: 19px;
  background-color: #fff;
}

.logo {
  width: 135px;
  height: 135px;
  margin: 20px auto;
}

.logo_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin: 31px;
  padding: 6px;
  background-color: #c4c4c4;
}

.input {
  width: 100%;
  height: 39px;
  padding: 5px;
}

.table {
  margin-top: 6px;
  border-collapse: collapse;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #222;
}

tr {
  height: 25px;
}

.actions {
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
  width: 100%;
}

.action {
  width: 20px;
  height: 20px;
}

.action_img {
  width: 100%;
}

.books_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* card */
.card_container {
  display: grid;
  width: 330px;
  height: 416px;
  grid-template-areas:
    "picture book-name"
    "picture author"
    "description description";
  grid-template-rows: 39px 208px 169px;
  grid-template-columns: 179px 151px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.picture {
  grid-area: picture;
}

.img_card {
  width: 100%;
  height: 100%;
}

.book-name {
  grid-area: book-name;
  height: auto;
  margin: 2px;
  padding: 2px;
}

.author {
  grid-area: author;
  padding: 2px;
  margin: 2px;
}

.description {
  grid-area: description;
  text-align: left;
  padding: 5px 5px;
  margin: 0 5px;
}

/* Modal */
.modal_wrap {
  width: 190px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 57px;
  background-color: #999;
  border: 2px solid #222;
  padding: 2px;
}

.hide {
  display: none;
}

.btn {
  background-color: #00f;
  color: #fff;
}
